*{
    margin: 0px;
    padding: 0px;
}
/* Main container styling */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-image: url('https://i.ytimg.com/vi/4Ekrz2uHtz4/maxresdefault.jpg'); 
    background-size: cover;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.8em;
  }
  
  /* Form container styling */
  .form-container {
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.5);

    width: 100%;
  }
  
  /* Form wrapper styling */
  .form-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  /* Form group styling */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Label styling */
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
  }
  
  /* Required field indicator */
  .required-field {
    color: red;
    margin-left: 5px;
    font-weight: normal;
  }
  
  /* Input field styling */
  .form-input {
    width: 100%;
    padding: 10px;
    padding-left: 40px; /* Space for icon */
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
  }
  
  /* Icon and input wrapper */
  .input-icon-wrapper {
    position: relative;
  }
  
  .input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
  }
  
  /* Submit button styling */
  .form-submit {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  .form-submit:hover {
    background-color: #45a049;
  }
  
  /* Login link styling */
  .login-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-link a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  